#login-page, #signup-page, #support-page {
  .login-logo {
    padding: 42px 0;
    min-height: 146px;
    text-align: center;
  }
  
  .login-logo img {
    max-width: 300px;
  }
  
  .list {
    margin-bottom: 0;
  }
  
}